################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HashTableExercises/.vs/HashTableExercises
/HashTableExercises/bin/Debug/net8.0
/HashTableExercises/obj
